.menulink {
color: green;
border-right: 2px solid #daa520;
border-bottom: 2px solid #daa520;
padding: .5rem;
margin: .5rem;
background: transparent;
font-weight: 800;
border-radius: .7rem;
}

.menulink:hover {
color: red;
border: 2px solid #daa520;
padding: .5rem;
margin: .5rem;
background: yellow;
font-weight: 800;
border-radius: .7rem;
}